body{
    margin: 0%;
    background-color:#DFFFD8;
}
.text{
    font-family: 'Sansita Swashed', cursive;
    color: #FF1700;
}
.calculator{
    background: url(images/bg.jpg);
    width: 350px;
    height: 350px;
    padding: 5px;
    position: relative;
    border-radius: 10%;
    
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF1818;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .button:hover {background-color: #FF1700}
  
  .button:active {
    background-color: #F90716;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 20%;
    font-size: larger;
  }
